@import "tailwindcss";

@theme {
  --color-primary: #0b6a62;
  --color-secondary: #22a196;
  --animate-delay-2000: 2000ms;
  --animate-delay-4000: 4000ms;
}

.shimmer-primary {
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-name: shimmer;
  background: -webkit-gradient(linear,left top,right top,from(#0b6a62),to(#0b6a62),color-stop(.5,#fff));
  background: -moz-gradient(linear,left top,right top,from(#0b6a62),to(#0b6a62),color-stop(.5,#fff));
  background: gradient(linear,left top,right top,from(#0b6a62),to(#0b6a62),color-stop(.5,#fff));
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  background-color: #0b6a62;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 125px 100%;
  color: #ffffff1a; 
  line-height: 1.5;
}


.shimmer {
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-name: shimmer;
  background: -webkit-gradient(linear,left top,right top,from(#222),to(#222),color-stop(.5,#fff));
  background: -moz-gradient(linear,left top,right top,from(#222),to(#222),color-stop(.5,#fff));
  background: gradient(linear,left top,right top,from(#222),to(#222),color-stop(.5,#fff));
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  background-color: #222;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 125px 100%;
  color: #ffffff1a; 
}

@keyframes shimmer {
  0% {
      background-position: -10% 0
  }

  to {
      background-position: 100% 0
  }
}

.main-heading{
  @apply text-3xl md:text-4xl lg:text-5xl font-bold text-gray-900 max-w-4xl mx-auto mb-4
}

button{
  @apply cursor-pointer
}


