@import "tailwindcss";

@theme {
  --color-primary: #0b6a62;
  --color-secondary: #22a196;
  --animate-delay-2000: 2000ms;
  --animate-delay-4000: 4000ms;
}

.main-heading{
  @apply text-3xl md:text-4xl lg:text-5xl font-bold text-gray-900 max-w-4xl mx-auto mb-4
}

